@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f5f5f4; 
}
::-webkit-scrollbar-thumb {
  background: #d6d3d1; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a8a29e; 
}