@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 24 9.8% 10%;

    --card: 0 0% 100%;
    --card-foreground: 24 9.8% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 24 9.8% 10%;

    --primary: 346 87% 43%;
    --primary-foreground: 355 100% 97%;

    --secondary: 24 5.4% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 24 5.4% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 24 5.4% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 24 5.4% 90%;
    --input: 24 5.4% 90%;
    
    --ring: 346 87% 43%;

    --radius: 1rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 346 87% 43%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 346 87% 43%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  
  html {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block; 
  }

  ::-webkit-scrollbar-track {
    background-color: hsl(var(--secondary));
  }
  ::-webkit-scrollbar-thumb {
    background-color: hsl(var(--muted));
    border-radius: 9999px;
    border: 2px solid hsl(var(--secondary));
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--accent));
  }
}